<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">

<head>
    <title>Intership Tour</title>
    <link rel="icon" href="img/univaq_logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="style/w3.css" rel="stylesheet">
    <link href="style/${page_css}.css" rel="stylesheet">
    <link href="style/container.css" rel="stylesheet">
    <script src="js/index.js"></script>
    
</head>

<body class="w3-theme-l5">

	<!-- NAVBAR PC -->
	<div class="w3-bar univaq-color-background w3-left-align w3-large w3-padding-large w3-hide-small">
	    <a href="../IntershipTutor" class="w3-bar-item w3-button no-padding">
	        <i class="fa fa-home"></i>
	        IntershipTutor
	    </a>
	    <a href="#" class="w3-bar-item w3-button w3-right no-padding">
	        <i class="fa fa-user"></i>
	        Accedi
	    </a>
	</div>
	
	
	<!-- NAVBAR MOBILE -->
	<div class="w3-bar univaq-color-background w3-left-align w3-large  w3-hide-medium">
	    <div class="collapsible-menu-1 w3-padding-large w3-hide-large">
	            <i class="fa fa-home w3-margin-right"></i>
	            IntershipTutor
	            <input type="checkbox" id="menu-1">
	            <label for="menu-1"><i class="fa fa-bars w3-right"></i></label>
	        <div class="menu-content-1">
	            <ul>
	                <li><a href="#" class="w3-bar-item w3-button">Accedi</a></li>
	                <li><a href="./aziende-smartphone.html" class="w3-bar-item w3-button">Aziende convenzionate</a></li>
	            </ul>                    
	        </div>
	    </div>
	</div>
	<div id="container">
	
	<!--------------------------------------
		 INCLUSIONE TEMPLATE NON STATICO
	 ---------------------------------------->
    <#include template_to_include>
    
	</div>
    <!-- FOOTER -->
    <footer class="w3-container footer univaq-color-background">
        <h5>Footer</h5>
    </footer>
    <!-- Scripts -->
    <script src="js/jquery-3.3.1.min.js" ></script>
    <script src="js/index.js"></script>

</body>

</html>
