<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">

<head>
    <title>Intership Tour</title>
    <link rel="icon" href="img/univaq_logo.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="style/fontawesome/regular.min.css" rel="stylesheet" />
    <link href="style/fontawesome/solid.min.css" rel="stylesheet" />
    <link href="style/fontawesome/fontawesome.min.css" rel="stylesheet" />
    <link href="style/w3/w3.css" rel="stylesheet" />
    <#if page_css??>
    	<link href="style/${page_css}.css" rel="stylesheet" />
    </#if>
    <link href="style/container.css" rel="stylesheet" />
    <!-- <script src="js/index.js"></script>  -->
    
</head>

<body>

	<!-- NAVBAR PC -->
	<div id="navbar-pc" class="w3-bar univaq-color-background w3-large w3-hide-small">
	    <a href="." class="w3-bar-item no-padding">
	        <i class="fa fa-home w3-margin-right univaq-color-background pointer"></i>
	        IntershipTutor
	    </a>
	    <#if utente??>
		    <a href="logout" class="w3-bar-item w3-right no-padding pointer">
		        Esci
		        <i class="fas fa-sign-out-alt w3-margin-left univaq-color-background"></i>
		    </a>
	    <#else>
	    	<a href="#access-manager-modal" class="w3-bar-item w3-right no-padding pointer">
		        Accedi
		        <i class="fas fa-sign-in-alt w3-margin-left univaq-color-background"></i>
		    </a>
	    </#if>
	</div>
	
	
	<!-- NAVBAR MOBILE -->
	<div id="navbar-mobile" class="w3-bar univaq-color-background w3-large  w3-hide-medium">
	    <div class="collapsible-menu-1 w3-padding-large w3-hide-large">
	    	<a href=".">
	            <i class="fa fa-home w3-margin-right univaq-color-background"></i>
	            IntershipTutor
	        </a>
	            <input type="checkbox" id="menu-1" />
	            <label for="menu-1"><i class="fa fa-bars w3-right univaq-color-background"></i></label>
	        <div class="menu-content-1">
	            <ul>
	            	<#if utente??>
	            		<li><a href="logout" class="w3-bar-item">Esci</a></li>
	            	<#else>
	            		<li><a href="#access-manager-modal" class="w3-bar-item">Accedi</a></li>
	            	</#if>
	            </ul>                    
	        </div>
	    </div>
	</div>
	<div id="container">
	
	<!-- 
		 INCLUSIONE TEMPLATE NON STATICO
	-->
    <#include content_tpl>
    
	</div>
    <!-- FOOTER -->
    <footer>
    	<a href="#navbar-pc" class="w3-hide-small"><i class="icon up fa fa-arrow-up"></i></a>
        <p id="credits" class="univaq-color-background">
        	Copyright &copy; 2018 by<br />
        	Stefano Martella - Iari Icaro - Davide Morelli
        </p>
    </footer>
    
    <!-- Scripts -->
    <script src="js/jquery-3.3.1.min.js" ></script>
    <script src="js/index.js"></script>
    
    <!-- Modals -->
    <#if !utente??>
		<!-- Login modal form -->
		<div id="access-manager-modal" class="overlay">
			<div class="tab-frame">
			
				<div class="popup w3-card w3-round w3-padding w3-white">
					<input class="login-tab" type="radio" name="tab" id="tab1" <#if !studenteNR?? && !aziendaNR??>checked</#if> />
					<label class="tab-label w3-round" for="tab1">Login</label>
					
					<input class="login-tab" type="radio" name="tab" id="tab2" <#if studenteNR??>checked</#if> />
					<label class="tab-label w3-round" for="tab2">Registrazione</label>
					
					<input class="login-tab" type="radio" name="tab" id="tab3" <#if aziendaNR??>checked</#if> />
					<label class="tab-label w3-round" for="tab3">Azienda</label>
					
					
					<!-- Login modal -->
					<div id="login-modal" class="tab">
						<div class="w3-center"><br>
							<a href="#close" class="w3-button w3-xlarge w3-display-topright">&times;</a>
							<h2 class="w3-margin-bottom">Effettua il login</h2>
						</div>
						<form class="w3-container" action="login" method="post">
							<div class="w3-section">
								<label for="username"><b>Username</b></label>
								<input id="username" class="w3-input w3-border-bottom" type="text" placeholder="Inserisci il tuo username" name="username" autocomplete="off" required />
								<label for="password"><b>Password</b></label>
								<input id="password" class="w3-input w3-border-bottom" type="password" placeholder="Inserisci la tua password" name="password" required />
								<button class="w3-button w3-block w3-padding univaq-color-background" type="submit" name="login" value="login">Login</button>
							</div>
		      			</form>
					</div>
					<!-- End login modal -->
					
					<!-- Sign up student modal -->
					<div id="signup-student-modal" class="tab">
						<div class="w3-center"><br>
							<a href="#" class="w3-button w3-xlarge w3-display-topright">&times;</a>
							<h2 class="w3-margin-bottom">Effettua la registrazione</h2>
						</div>
						<form class="w3-container" action="studente" method="post">
					        <div class="w3-section">
					          <h3 class="univaq-color profile">Informazioni personali</h3>
					          <label for="nomeStudente"><b>Nome</b></label>
					          <input id="nomeStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il tuo nome" name="nome" autocomplete="off" required />
					          <label for="cognomeStudente"><b>Cognome</b></label>
					          <input id="codiceFiscaleStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il tuo nome" name="cognome" autocomplete="off" required />
					          <label for="codiceFiscaleStudente"><b>Codice fiscale</b></label>
					          <input id="cognomeStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="16" type="text" placeholder="Inserisci il tuo codice fiscale" name="codice_fiscale" autocomplete="off" required />
					          <label for="dataNascita"><b>Data di nascita</b></label>
					          <input id="dataNascita" class="w3-input w3-border-bottom w3-margin-bottom" type="date" name="data_nascita" autocomplete="off" required />
					          <label for="luogoNascita"><b>Luogo di Nascita</b></label>
							  <input id="luogoNascita" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il tuo luogo di nascita" name="luogo_nascita" autocomplete="off" required />
							  <label for="provinciaNascita"><b>Provincia di Nascita</b></label>
							  <input id="provinciaNascita" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="2" type="text" placeholder="Inserisci la tua provincia di nascita" name="provincia_nascita" autocomplete="off" required />
							  <label for="residenza"><b>Residenza</b></label>
							  <input id="residenza" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci la tua residenza" name="residenza" autocomplete="off" required />
							  <label for="provinciaResidenza"><b>Provincia residenza</b></label>
							  <input id="provinciaResidenza" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="2" type="text" placeholder="Inserisci la provincia della tua residenza" name="provincia_residenza" autocomplete="off" required />
							  <label for="tipoLaurea"><b>Tipo di laurea</b></label>
							  <input id="tipoLaurea" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il tipo della tua laurea(Triennale/Magistrale)" name="tipo_laurea" autocomplete="off" required />
							  <label for="corsoLaurea"><b>Corso di laurea</b></label>
							  <input id="corsoLaurea" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il tuo corso di laurea" name="corso_laurea" autocomplete="off" required />
					          <h3 class="univaq-color profile">Indicare se si &eacute; portatori di handicap</h3>
					          <label class="radio-container">
						          <input type="radio" name="handicap" value="true" required>
						          <span class="checkmark"></span>Si
						      </label><br />
						      <label class="radio-container">
  							  	<input type="radio" name="handicap" value="false">
					          	<span class="checkmark"></span>No
						      </label>
					          <h3 class="univaq-color profile">Account</h3>
					          <label for="usernameStudente"><b>Username</b></label>
				         	  <input id="usernameStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="15" type="text" placeholder="Inserisci il tuo username" name="username" autocomplete="off" required />
					          <label for="emailStudente"><b>Email</b></label>
				         	  <input id="emailStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="email" placeholder="Inserisci la tua email" name="email" autocomplete="off" required />
					          <label for="telefonoStudente"><b>Telefono</b></label>
				          	  <input id="telefonoStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="20" type="tel" placeholder="Inserisci il tuo telefono" name="telefono" autocomplete="off" required />
					          <label for="passwordStudente"><b>Password</b></label>
				          	  <input id="passwordStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="password" placeholder="Inserisci la password" name="password" autocomplete="off" required />
				          	  <button class="w3-button w3-block w3-section w3-padding univaq-color-background" type="submit" name="registrazione" value="registrazione">Registrati</button>
					        </div>
					    </form>
					</div>
					<!-- End sign up student modal -->
					
					<!-- Sign up company modal -->
					<div id="signup-company-modal" class="tab">
						<div class="w3-center"><br>
							<a href="#" class="w3-button w3-xlarge w3-display-topright">&times;</a>
							<h2 class="w3-margin-bottom">Registra la tua azienda</h2>
						</div>
						<form class="w3-container" action="azienda" method="post">
					        <div class="w3-section">
					          <h3 class="univaq-color profile">Informazioni sull'azienda</h3>
					          <label for="nomeAzienda"><b>Nome</b></label>
					          <input id="nomeAzienda" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il tuo nome" name="nome" autocomplete="off" required />
					          <label for="codiceFiscale"><b>Partita IVA/Codice fiscale</b></label>
					          <input id="codiceFiscale" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="16" type="text" placeholder="Inserisci la partita IVA della tua azienda" name="codice_fiscale" autocomplete="off" required />
					          <label for="regioneAzienda"><b>Regione</b></label>
					          <input id="regioneAzienda" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci la regione della tua azienda" name="regione" autocomplete="off" required />
					          <label for="indirizzoSedeLegale"><b>Indirizzo sede legale</b></label>
							  <input id="indirizzoSedeLegale" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci l'indirizzo della sede legale" name="indirizzo_sede_legale" autocomplete="off" required />
							  <label for="foroCompetente"><b>Foro competente</b></label>
							  <input id="foroCompetente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il foro competente" name="foro_competente" autocomplete="off" required />
							  <label for="nomeRappresentante"><b>Nome rappresentante</b></label>
							  <input id="nomeRappresentante" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il nome del rappresentante" name="nome_rappresentante" autocomplete="off" required />
							  <label for="cognomeRappresentante"><b>Cognome Rappresentante</b></label>
							  <input id="cognomeRappresentante" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il cognome del rappresentante" name="cognome_rappresentante" autocomplete="off" required />
							  <label for="nomeResponsabile"><b>Nome responsabile</b></label>
							  <input id="nomeResponsabile" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il nome del responsabile" name="nome_responsabile" autocomplete="off" required />
							  <label for="cognomeResponsabile"><b>Cognome Responsabile</b></label>
							  <input id="cognomeResponsabile" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il cognome del responsabile" name="cognome_responsabile" autocomplete="off" required />					  
					          <h3 class="univaq-color profile">Account</h3>
					          <label for="usernameAzienda"><b>Username</b></label>
				         	  <input id="usernameAzienda" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="15" type="text" placeholder="Inserisci il tuo username" name="username" autocomplete="off" required />
					          <label for="emailAzienda"><b>Email</b></label>
				         	  <input id="emailAzienda" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="email" placeholder="Inserisci la tua email" name="email" autocomplete="off" required />
					          <label for="telefonoAzienda"><b>Telefono</b></label>
				          	  <input id="telefonoAzienda" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="20" type="tel" placeholder="Inserisci il tuo telefono" name="telefono" autocomplete="off" required />
					          <label for="passwordAzienda"><b>Password</b></label>
				          	  <input id="passwordAzienda" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="password" placeholder="Inserisci la password" name="password" autocomplete="off" required />
				          	  <button class="w3-button w3-block w3-section w3-padding univaq-color-background" type="submit" name="registrazione" value="registrazione">Registra l'azienda</button>
				          </div>
					    </form>
					</div>
					<!-- End sign up company modal -->
				</div>
			</div>
		</div>
	<!-- End modals -->
	</#if>
</body>

</html>
