<h1 class="w3-center">${azienda.nome}</h1>
<div id="page-container" class="w3-center">

    <div class="azienda-info">
        <i class="fas fa-user-tie"></i>
        <p class="persone">Nome rappresentante</p>
        <p class="info">${azienda.nomeRappresentante} ${azienda.cognomeRappresentante}</p>
        <p class="persone">Responsabile</p>
        <p class="info">${azienda.nomeResponsabile} ${azienda.cognomeResponsabile}</p>
    </div>

    <div class="azienda-info">
        <i class="fas fa-info-circle"></i>
        <p class="contatti">Email</p>
        <p class="info">${azienda.email}</p>
        <p class="contatti">Telefono</p>
        <p class="info">${azienda.telefono}</p>
        <p class="contatti">Partita IVA</p>
        <p class="info">${azienda.codiceFiscale}</p>
    </div>

    <div class="azienda-info">
        <i class="fas fa-map-marked-alt"></i>
        <p class="info">
            ${azienda.regione}<br />
            ${azienda.foroCompetente}<br />
            ${azienda.indirizzoSedeLegale}
        </p>
    </div>

</div>