
<!-- Page Container -->
<div id="dettaglio-azienda-container" class="w3-content w3-margin-top">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <!-- w3-animate-left -->
    <div class="w3-quarter">
    
      <div class="w3-card w3-round">
        <div class="padding-edge padding-bottom">
        	<a href="./azienda?azienda=${azienda.utente}">
	          	<h2 id="nome-utente" class="w3-center univaq-color">
	       			${azienda.nome}
	          	</h2>
          	</a>
          <p class="info">
          	<i class="fa fa-user fa-fw w3-margin-right"></i>
          	${azienda.nomeResponsabile} ${azienda.cognomeResponsabile}
          </p>
          <p class="info">
          	<i class="fas fa-map-marked-alt fa-fw w3-margin-right"></i>
          	${azienda.regione}
          </p>
          <p class="info">
          	<i class="fa fa-envelope fa-fw w3-margin-right"></i>
          	${azienda.email}
          </p>
          <p class="info">
          	<i class="fa fa-phone fa-fw w3-margin-right"></i>
          	${azienda.telefono}
          </p> 
        </div>
        
        
      </div>
      <br>
		

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <!-- w3-animate-bottom -->
    <div class="w3-threequarter">
    
      <div class="w3-padding w3-card w3-round w3-margin-bottom">
        <h2 id="titolo-tirocinio" class="w3-text-grey w3-padding">
        	<i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge"></i>
        	${offertaTirocinio.titolo}
        </h2>
        <div class="w3-container">
        	<hr>
          	<p class="info">
          		<i class="fas fa-map-marker-alt fa-fw w3-margin-right"></i>
          		${offertaTirocinio.luogo}
          	</p>
          	<#if offertaTirocinio.dataInizio?? && offertaTirocinio.dataFine??>
	          	<p class="info">
	          		<i class="far fa-calendar-alt fa-fw w3-margin-right"></i>
	          		da ${offertaTirocinio.dataInizio?iso_local} al ${offertaTirocinio.dataFine?iso_local} 
	          		<!-- <span class="w3-tag w3-round univaq-color-background">Current</span> -->
	          	</p>
          	</#if>
          	<h5 class="bold"><b>Obiettivi</b></h5>
          		<p class="descrizione-tirocinio">${offertaTirocinio.obiettivi}</p>	        
        		<hr>
          	<h5 class="bold"><b>Modalità</b></h5>
          	<p class="descrizione-tirocinio">${offertaTirocinio.modalita}</p>
          	<hr>
          	<h5 class="bold"><b>Informazioni tecniche</b></h5>
          	<p class="descrizione-tirocinio">Il numero di ore richieste per completare il tirocinio è pari ${offertaTirocinio.numeroOre}.
          	È previsto un rimborso di ${offertaTirocinio.rimborso}€</p>
          	<!-- 
          	<#if utente??>
	          	<a href="#access-manager-modal">
					<button class="w3-button w3-right w3-round">
						<i class="far fa-share-square fa-fw w3-margin-right"></i>
						Invia proposta
					</button>
				</a>
			<#else>
				<a href="#access-manager-modal">
					<button class="w3-button w3-right w3-round">
						<i class="far fa-share-square fa-fw w3-margin-right"></i>
						Invia proposta
					</button>
				</a>
			</#if>
			 -->
        </div>
      </div>


    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
