
<!-- Page Container -->
<div id="dettaglio-azienda-container" class="w3-content w3-margin-top">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <!-- w3-animate-left -->
    <div class="w3-quarter">
    
      <div class="w3-card w3-round">
        <div class="padding-edge padding-bottom w3-round white-background">
        	<a href="./azienda?azienda=${azienda.utente}">
	          	<h2 id="nome-utente" class="w3-center univaq-color">
	       			${azienda.nome}
	          	</h2>
          	</a>
          <p class="info">
          	<i class="fa fa-user fa-fw w3-margin-right"></i>
          	${azienda.nomeResponsabile} ${azienda.cognomeResponsabile}
          </p>
          <p class="info">
          	<i class="fas fa-map-marked-alt fa-fw w3-margin-right"></i>
          	${azienda.regione}
          </p>
          <p class="info">
          	<i class="fa fa-envelope fa-fw w3-margin-right"></i>
          	${azienda.email}
          </p>
          <p class="info">
          	<i class="fa fa-phone fa-fw w3-margin-right"></i>
          	${azienda.telefono}
          </p>
          <#if pareriTirocinio?size gt 0>
         	<hr />
         	<a href="#pareri-tirocinio-modal">
	         	<p class="info pointer">
		         	<i class="fas fa-clipboard-list fa-fw w3-margin-right"></i>
		          	Pareri
		         </p>
	         </a>
          </#if>
          <#if hasIntership>
        	<a href="#review">
	         	<p class="info pointer">
		         	<i class="fas fa-marker fa-fw w3-margin-right "></i>
		          	Recensisci
		         </p>
	         </a>
        </#if> 
        </div>       
      </div>
      <br>
		

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <!-- w3-animate-bottom -->
    <div class="w3-threequarter">
    
      <div class="w3-padding w3-card w3-round w3-margin-bottom white-background">
        <h2 id="titolo-tirocinio" class="w3-text-grey w3-padding">
        	<i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge"></i>
        	${offertaTirocinio.titolo}
        </h2>
        <div class="w3-container">
        	<hr>
          	<p class="info">
          		<i class="fas fa-map-marker-alt fa-fw w3-margin-right"></i>
          		${offertaTirocinio.luogo}
          	</p>
          	<#if offertaTirocinio.dataInizio?? && offertaTirocinio.dataFine??>
	          	<p class="info">
	          		<i class="far fa-calendar-alt fa-fw w3-margin-right"></i>
	          		da ${offertaTirocinio.dataInizio?iso_local} al ${offertaTirocinio.dataFine?iso_local} 
	          		<!-- <span class="w3-tag w3-round univaq-color-background">Current</span> -->
	          	</p>
          	</#if>
          	<#if offertaTirocinio.oraInizio?? && offertaTirocinio.oraFine??>
	          	<p class="info">
	          		<i class="far fa-clock fa-fw w3-margin-right"></i>
	          		da ${offertaTirocinio.oraInizio[0..4]} al ${offertaTirocinio.oraFine[0..4]} 
	          	</p>
          	</#if>
          	<h5 class="bold"><b>Obiettivi</b></h5>
          		<p class="descrizione-tirocinio">${offertaTirocinio.obiettivi}</p>	        
        		<hr>
          	<h5 class="bold"><b>Modalità</b></h5>
          	<p class="descrizione-tirocinio">${offertaTirocinio.modalita}</p>
          	<#if offertaTirocinio.rimborso?? || offertaTirocinio.numeroOre gt 0>
	          	<hr>
	          	<h5 class="bold"><b>Informazioni tecniche</b></h5>
	          	<p class="descrizione-tirocinio">
	          		<#if offertaTirocinio.numeroOre gt 0>
		          		Il numero di ore richieste per completare il tirocinio è pari ${offertaTirocinio.numeroOre}.
		          	</#if>
		          	<#if offertaTirocinio.rimborso??>
		          		È previsto un rimborso di ${offertaTirocinio.rimborso}€.
		          	</#if>
	          	</p>
          	</#if>
          	<!-- 
          	<#if utente??>
	          	<a href="#access-manager-modal">
					<button class="w3-button w3-right w3-round">
						<i class="far fa-share-square fa-fw w3-margin-right"></i>
						Invia proposta
					</button>
				</a>
			<#else>
				<a href="#access-manager-modal">
					<button class="w3-button w3-right w3-round">
						<i class="far fa-share-square fa-fw w3-margin-right"></i>
						Invia proposta
					</button>
				</a>
			</#if>
			 -->
        </div>
      </div>


    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<!-- Read reviews modal -->
    <div id="pareri-tirocinio-modal" class="overlay">
	    <div class="w3-card w3-white w3-round popup w3-padding">
	
	      <div class="w3-center"><br>
	      	<a href="#close" class="w3-button w3-xlarge w3-display-topright">&times;</a>
	        <h2>Pareri sul tirocinio</h2>
	      </div>
	        <div class="w3-section">
				<#list pareriTirocinio?keys as studente>
					<hr />
					<p class="no-margin"><b>${studente}</b></p>
					<p>${pareriTirocinio[studente]}</p>
				</#list>
	        </div>
	      </div>
      </div>

<!-- Review intership -->
<#if studente?? && hasIntership??>
      <div id="review" class="overlay">
	    <div class="w3-card w3-white w3-round popup w3-padding">
	
	      <div class="w3-center"><br>
	      	<a href="#" class="w3-button w3-xlarge w3-display-topright">&times;</a>
	        <h2>Esprimi il tuo parere su questo tirocinio</h2>
	      </div>
	        <form class="w3-container" action="./offertaTirocinio?referrer=offertaTirocinio?id_tirocinio=${offertaTirocinio.idTirocinio}" method="post">
		        <div class="w3-section">
		          <!-- The user CF is hidden, it is used to retrieve the current user from database -->
		          <input type="hidden" name="utente" value="${studente.utente}" />
		          <input type="hidden" name="tirocinio" value="${offertaTirocinio.idTirocinio}" />
		          <#if tirocinioStudente?? && tirocinioStudente.parere??>
		          		<!-- To update the review -->
		          		<input type="hidden" name="update" value="update" />
		          </#if>
		          <label for="parere"><b>Parere</b></label>
				  <textarea id="parere" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="2500" placeholder="Esprimi il tuo parere sull'azienda" name="parere" autocomplete="off" required><#if tirocinioStudente?? && tirocinioStudente.parere??>${tirocinioStudente.parere}</#if></textarea>
	          	  <button class="w3-button w3-block w3-section w3-padding univaq-color-background" type="submit" name="recensisci" value="recensisci">
	          	  	<#if tirocinioStudente?? && tirocinioStudente.parere??>
	          	  		Aggiungi recensione
	          	  	<#else>
	          	  		Aggiorna recensione
	          	  	</#if>
	          	  </button>
		        </div>
		      </form>
	      </div>
      </div>
      </#if>
