<!-- Page Container -->
<div id="homepage-container" class="w3-content">

  <!-- The Grid -->
  <div class="w3-row-padding">

	   <!-- Left Column -->
	   <!-- w3-animate-left -->
	   <div class="w3-quarter" id="left-column">
	       <!-- Profile -->
		       <div class="w3-card w3-round">
		           <div class="w3-container profile-container w3-margin-bottom">
		           	   
	           	   		<h2 id="nome-utente" class="w3-center univaq-color">${utente.nome} ${utente.cognome}</h2>
	           	   		<p class="info padding-top-bot">
		                   <i class="fas fa-user-graduate fa-fw w3-margin-right w3-text-theme"></i>
		                   ${utente.corsoLaurea}
		                </p>
		                <p class="info padding-top-bot">
			               <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
		                   ${utente.residenza}
		                </p>
		                <p class="info padding-top-bot">
		                   <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
		                   ${utente.dataNascita?iso_local}
		                </p>
		                <p class="info padding-top-bot">
		                   <i class="fas fa-phone fa-fw w3-margin-right w3-text-theme"></i>
		                   ${utente.telefono}
		                </p>
		                <hr class="no-margin" />
		                <p class="info padding-top-bot pointer">
		                	<a href="#update-student-modal">
			                   <i class="far fa-edit fa-fw w3-margin-right w3-margin-bottom w3-text-theme"></i>
			                   Modifica Profilo
		                   </a>
		                </p>
		               	<#if tirocinioRichiesto?? && tirocinioStudente??>
		               		<h2 id="tirocinio-richiesto" class="w3-center univaq-color">Tirocinio Richiesto</h2>
	               			<p class="info w3-margin-bottom	w3-margin-top">
	               				<a href="offertaTirocinio?id_tirocinio=${tirocinioRichiesto.idTirocinio}">
	               					<b class="w3-text-grey">${tirocinioRichiesto.titolo}</b>
	               				</a>
	               			</p>
		               		<p class="info"><i>Stato richiesta:</i></p>
		               		<#if tirocinioStudente.stato.name() != "terminato">
			               		<p class="info">
			               			<#if tirocinioStudente.stato.name() == "accettato">
			               				<i class="fas fa-check fa-fw w3-margin-right w3-margin-bottom w3-text-theme"></i>
			               			<#elseif tirocinioStudente.stato.name() == "attesa">
			               				<i class="fas fa-spinner fa-fw w3-margin-right w3-margin-bottom w3-text-theme"></i>
			               			<#else>
			               				<i class="fas fa-times fa-fw w3-margin-right w3-margin-bottom w3-text-theme"></i>		               				
			               			</#if>
			               			${tirocinioStudente.stato?capitalize}
			               		</p>
			               		<p class="info"><i>Progetto formativo:</i></p>
			               		<#if tirocinioStudente.stato.name() == "accettato">
			               			<form action="upload?utente=${utente.utente}" method="post" enctype='multipart/form-data'>
									    <input type="file" name="file" />
									    <input class="pointer" type="submit" value="&#xf093" />
									</form>
			               			<p class="info pointer">
				               			<a href="download?codice_fiscale=${utente.utente}">
					               			<i class="fas fa-download fa-fw w3-margin-right w3-margin-bottom w3-text-theme"></i>
					               			Progetto formativo
				               			</a>	
			               			</p>	
			               		</#if>
			               		<p class="info"><i>Opzioni:</i></p>
			               		<p class="info pointer">
			               			<a href="tirocinioStudente?rimuovi=true">
				               			<i class="far fa-trash-alt fa-fw w3-margin-right w3-margin-bottom w3-text-theme"></i>
				               			Annulla richiesta
			               			</a>	
			               		</p>
			               	<#else>
			               		<p class="info">
			               			<i class="far fa-check-circle fa-fw w3-margin-right w3-margin-bottom w3-text-theme"></i>
			               			${tirocinioStudente.stato?capitalize}
			               		</p>
			               		<p class="info"><i>Stato richiesta:</i></p>
			               		<p class="info pointer">
			               			<a href="download?codice_fiscale=${utente.utente}">
				               			<i class="fas fa-download fa-fw w3-margin-right w3-margin-bottom w3-text-theme"></i>
				               			Progetto formativo
			               			</a>	
		               			</p>
			               		<hr class="no-margin" />
			               		<p class="info">
			               			<a href="#summary-modal">
				               			<i class="fas fa-clipboard-check fa-fw w3-margin-right w3-margin-bottom w3-margin-top w3-text-theme"></i>
				               			Riepilogo
			               			</a>
			               		</p>
			               	</#if>
		               	</#if>
		           </div>
		       </div>
	
		   <!-- w3-animate-left -->
	       <div id="aziende-convenzionate-container" class="w3-card w3-round">
	           <h2 id="aziende-convenzionate">Aziende convenzionate</h2>
	           <div class="w3-container" id="aziende-container">
	               <#list aziende as azienda>
	               	   <hr>
	                   <div class="azienda">
	                    <p class="info">
                        	<a href="azienda?azienda=${azienda.codiceFiscale}">
	                        	<i class="far fa-building fa-fw w3-margin-right"></i> 
	                        	<b class="w3-text-grey">${azienda.nome}</b>
                        	</a>
                        </p>
                        <p class="info">
                        	<i class="fas fa-map-marked-alt fa-fw w3-margin-right"></i>
                        	${azienda.regione}
                        </p>
                        <p class="info">
                        	<i class="fas fa-phone fa-fw w3-margin-right"></i>
                        	${azienda.telefono}
                        </p>
	                   </div>
	               </#list>
	           </div>
	       </div>
	   </div>
	
	   <!-- End Left Column -->
	
	   <!-- Middle Column -->
	   <!-- w3-animate-bottom -->
	   <div class="w3-threequarter" id="right-column">
	
	        <!-- Including searchbar -->
			<#include "components/searchbar.ftl.html">
	       
	       <div id="offerte-container" class="w3-margin-top w3-margin-bottom w3-card w3-round w3-padding">
				<h2 id="tirocini-disponibili" class=" w3-padding w3-text-grey">
					<i class="fas fa-list-ul fa-fw w3-margin-right w3-xlarge"></i>
					Tirocini disponibili
				</h2>
				<#list offerte as offerta>
					<hr />
					<div class="w3-padding w3-container offerta-container">
						<h5 class="bold">
							<#if offerta.titolo?length &lt; 150>
								<a href="offertaTirocinio?id_tirocinio=${offerta.idTirocinio}">
									${offerta.titolo}
								</a>
							<#else>
								<a href="offertaTirocinio?id_tirocinio=${offerta.idTirocinio}">
									${offerta.titolo?substring(0,150)}...
								</a>
							</#if>
						</h5>
						<p class="info">
							<i class="fas fa-map-marker-alt fa-fw w3-margin-right"></i>
							 ${offerta.luogo}
						</p>
						<#if offerta.dataInizio?? && offerta.dataFine??>
							<p class="info">
								<i class="far fa-calendar-alt fa-fw w3-margin-right"></i>
								Dal ${offerta.dataInizio?iso_local} al ${offerta.dataFine?iso_local}
							</p>
						</#if>
						<p  class="proposte-tirocinio">
						    <#if offerta.modalita?length &lt; 500>
						        ${offerta.modalita}
						    <#else>
						        ${offerta.modalita?substring(0,500)}...
						    </#if>
						</p>
						<#if !tirocinioStudente??>
							<a href="#intership-subscription-modal-${offerta.idTirocinio}">
								<button class="w3-button w3-right w3-round far fa-share-square">
									Invia proposta
								</button>
							</a>
						</#if>
					 </div>
				</#list>
		        
		      </div>
	       
	       <!-- Including pagination -->
	       <#include "components/pagination.ftl.html">
	
	   </div>
   
   </div>
   <!-- End grid -->
        
</div>

<!-- Modals -->
<!-- Update student profile modal -->
      <div id="update-student-modal" class="overlay">
	    <div class="w3-card w3-white w3-round popup w3-padding">
	
	      <div class="w3-center"><br>
	      	<a href="#close" class="w3-button w3-xlarge w3-display-topright">&times;</a>
	        <h2>Modifica informazioni</h2>
	      </div>
		      <form class="w3-container" action="./studente" method="post">
		        <div class="w3-section">
		          <!-- The user CF is hidden, it is used to retrieve the current user from database -->
		          <!-- <input type="hidden" name="utente" value="${utente.utente}" />  -->
		          <h3 class="univaq-color profile">Informazioni personali</h3>
		          <label for="nomeStudente"><b>Nome</b></label>
		          <input id="nomeStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" value="${utente.nome}" placeholder="Inserisci il tuo nome" name="nome" autocomplete="off" required />
		          <label for="cognomeStudente"><b>Cognome</b></label>
		          <input id="cognomeStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" value="${utente.cognome}" placeholder="Inserisci il tuo cognome" name="cognome" autocomplete="off" required />
		          <label for="dataNascita"><b>Data di nascita</b></label>
		          <input id="dataNascita" class="w3-input w3-border-bottom w3-margin-bottom" type="date" value="${utente.dataNascita?iso_local}" placeholder="Inserisci la tua data di nascita" name="data_nascita" autocomplete="off" required />
		          <label for="luogoNascita"><b>Luogo di Nascita</b></label>
				  <input id="luogoNascita" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" value="${utente.luogoNascita}" placeholder="Inserisci il tuo luogo di nascita" name="luogo_nascita" autocomplete="off" required />
				  <label for="provinciaNascita"><b>Provincia di Nascita</b></label>
				  <input id="provinciaNascita" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="2" type="text" value="${utente.provinciaNascita}" placeholder="Inserisci la tua provincia di nascita" name="provincia_nascita" autocomplete="off" required />
				  <label for="residenza"><b>Residenza</b></label>
				  <input id="residenza" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" value="${utente.residenza}" placeholder="Inserisci la tua residenza" name="residenza" autocomplete="off" required />
				  <label for="provinciaResidenza"><b>Provincia residenza</b></label>
				  <input id="provinciaResidenza" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="2" type="text" value="${utente.provinciaResidenza}" placeholder="Inserisci la provincia della tua residenza" name="provincia_residenza" autocomplete="off" required />
				  <label for="tipoLaurea"><b>Tipo di laurea</b></label>
				  <input id="tipoLaurea" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" value="${utente.tipoLaurea}" placeholder="Inserisci il tipo della tua laurea(Triennale/Magistrale)" name="tipo_laurea" autocomplete="off" required />
				  <label for="corsoLaurea"><b>Corso di laurea</b></label>
				  <input id="corsoLaurea" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" value="${utente.corsoLaurea}" placeholder="Inserisci il tuo corso di laurea" name="corso_laurea" autocomplete="off" required />
	         	  <h3 class="univaq-color profile">Indicare se si &eacute; portatori di handicap</h3>
		          <label class="radio-container">
			          <input type="radio" name="handicap" value="true" required <#if utente.handicap>checked</#if>>
			          <span class="checkmark"></span>Si
			      </label><br />
			      <label class="radio-container">
						  	<input type="radio" name="handicap" value="false" <#if !utente.handicap>checked</#if>>
		          	<span class="checkmark"></span>No
			      </label>
	         	  <h3 class="univaq-color profile">Account</h3>
	         	  <label for="usernameStudente"><b>Username</b></label>
	         	  <input id="usernameStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="15" type="text" value="${utente.username}" placeholder="Inserisci il tuo username" name="username" autocomplete="off" required />
		          <label for="emailStudente"><b>Email</b></label>
	         	  <input id="emailStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" value="${utente.email}" placeholder="Inserisci la tua email" name="email" autocomplete="off" required />
		          <label for="telefonoStudente"><b>Telefono</b></label>
	          	  <input id="telefonoStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="20" type="number" value="${utente.telefono}" placeholder="Inserisci il tuo telefono" name="telefono" autocomplete="off" required />
		          <label for="passwordStudente"><b>Password</b></label>
	          	  <input id="passwordStudente" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="password" value="${utente.password}" placeholder="Inserisci la password" name="password" autocomplete="off" required />
	          	  <button class="w3-button w3-block w3-section w3-padding univaq-color-background" type="submit" name="aggiorna" value="aggiorna">Modifica</button>
		        </div>
		      </form>
	      </div>
      </div>
      
      <!-- Inteship subscription modal -->
      <#list offerte as offerta>
	      <div id="intership-subscription-modal-${offerta.idTirocinio}" class="overlay">
		    <div class="w3-card w3-white w3-round popup w3-padding">
		      <div class="w3-center"><br>
		      	<a href="#close" class="w3-button w3-xlarge w3-display-topright">&times;</a>
		        <h2>Inserisci le informazioni</h2>
		      </div>
			      <form class="w3-container" action="tirocinioStudente" method="post">
			        <div class="w3-section">
			        	<input type="hidden" name="id_tirocinio" value="${offerta.idTirocinio}" />
			        	<h3 class="univaq-color profile">Informazioni sul tutore scelto</h3>
						<label for="nomeTutore-${offerta.idTirocinio}"><b>Nome e Cognome Tutore</b></label>
		          		<input id="nomeTutore-${offerta.idTirocinio}" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci il nome e cognome del tutore scelto" name="tutore_universitario" autocomplete="off" required />
				        <label for="telefonoTutore-${offerta.idTirocinio}"><b>Telefono tutore</b></label>
				        <input id="telefonoTutore-${offerta.idTirocinio}" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="15" type="number" placeholder="Inserisci il numero di telefono del tutore scelto" name="telefono_tutore" autocomplete="off" required />
				        <label for="emailTutore-${offerta.idTirocinio}"><b>Email tutore</b></label>
				        <input id="emailTutore-${offerta.idTirocinio}" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="45" type="text" placeholder="Inserisci l'email del tutore scelto" name="email_tutore" autocomplete="off" required />
				        <h3 class="univaq-color profile">Informazioni aggiuntive</h3>
				        <label for="cfu-${offerta.idTirocinio}"><b>CFU</b></label>
						<input id="cfu-${offerta.idTirocinio}" class="w3-input w3-border-bottom w3-margin-bottom" maxlength="11" type="number" placeholder="Inserisci i CFU che desideri conseguire con il tirocinio scelto" name="cfu" autocomplete="off" required />
						<button class="w3-button w3-block w3-section w3-padding univaq-color-background" type="submit" name="iscriviti" value="iscriviti">Invia</button>
			        </div>
			      </form>
		      </div>
	      </div>
      </#list>

	  <#if tirocinioStudente?? && tirocinioStudente.stato.name() == "terminato">
		  <div id="summary-modal" class="overlay">
			    <div class="w3-card w3-white w3-round popup w3-padding">
			      <div class="w3-center"><br>
			      	<a href="#close" class="w3-button w3-xlarge w3-display-topright">&times;</a>
			        <h2>Riepilogo attività svolta</h2>
			      </div>
			        <div class="w3-section w3-padding">
			        	<p><b>Descrizione dettagliata</b></p>
			        	<p>${tirocinioStudente.descrizioneDettagliata}
			        	<p><b>Ore svolte</b></p>
			        	<p>${tirocinioStudente.oreSvolte}
			        	<p><b>Giudizio finale</b></p>
			        	<p>${tirocinioStudente.giudizioFinale}
			        </div>
			      </div>
		      </div>
	      </#if>

