<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">

<head>
    <title>Intership Tour</title>
    <link rel="icon" href="img/univaq_logo.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="style/fontawesome/regular.min.css" rel="stylesheet" />
    <link href="style/fontawesome/solid.min.css" rel="stylesheet" />
    <link href="style/fontawesome/fontawesome.min.css" rel="stylesheet" />
    <link href="style/w3/w3.css" rel="stylesheet" />
    <link href="style/homepage-amministratore.css" rel="stylesheet">
    <!-- <script src="js/index.js"></script>  -->
</head>

<body class="w3-light-grey">
	
	<!-- NAVBAR PC -->
	<div id="navbar-pc" class="w3-bar w3-large w3-padding w3-hide-small">
	    <a href="." class="w3-bar-item no-padding w3-text-white">
	        <i class="fa fa-home w3-margin-right univaq-color-background pointer"></i>
	        IntershipTutor
	    </a>
	    <a href="logout" class="w3-bar-item w3-right w3-text-white no-padding pointer">
	        Esci
	        <i class="fas fa-sign-out-alt w3-margin-left univaq-color-background"></i>
	    </a>
	</div>
	
	
	<!-- NAVBAR MOBILE -->
	<div id="navbar-mobile" class="w3-bar  w3-large  w3-hide-medium">
	    <div class="collapsible-menu-1 w3-padding-large w3-hide-large">
	    	<a href="." class="w3-text-white">
	            <i class="fa fa-home w3-margin-right w3-text-white univaq-color-background"></i>
	            IntershipTutor
	        </a>
	            <input type="checkbox" id="menu-1" />
	            <label for="menu-1"><i class="fa fa-bars w3-text-white w3-right univaq-color-background"></i></label>
	        <div class="menu-content-1">
	            <ul>
	            	<li><a href="logout" class="w3-bar-item w3-text-white">Esci</a></li>
	            </ul>                    
	        </div>
	    </div>
	</div>
	
	<!-- CONTENT -->
	<nav id="sidebar" class="w3-sidebar w3-quarter w3-hide-small w3-white w3-animate-left"><br>
	  <div class="w3-container w3-row">
	    <div class="w3-col s4">
	    </div>
	    <div class="w3-col s8 w3-bar">
	      <span>Bentornato, <strong>${amministratore.nome}</strong></span>
	      <#if numAziende gt 0>
	      <br />
	      <span>Hai <b>${numAziende}</b> nuove notifiche!</span>
	      </#if>
	    </div>
	  </div>
	  <hr>
	  <div class="w3-container">
	    <h5>Dashboard</h5>
	  </div>
	  <div class="w3-bar-block">
	    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
	  </div>
	</nav>
		
	<!-- !PAGE CONTENT! -->
	<div id="page-content" class="w3-main w3-threequarter w3-right">
		
		<div id="main-content">
			<!-- Header -->
			<header class="w3-container w3-margin-left">
			  <h4 class="w3-margin-bottom"><b><i class="fas fa-chart-line"></i> My Dashboard</b></h4>
			</header>
			
			<div class="w3-row-padding">
			
				<div id="stats-container" class="w3-container w3-margin-bottom">
				  <div class="quarter">
				      <div class="w3-container w3-orange w3-text-white w3-card w3-round">
				        <div class="w3-left"><i class="fas fa-user-cog w3-xxlarge"></i></div>
				        <div class="w3-right">
				          <h3>${numAmministratoriTotali}</h3>
				        </div>
				        <div class="w3-clear"></div>
				        <h4>Amministratori</h4>
				      </div>
				    </div>
				    <div class="quarter">
				      <div class="w3-container w3-red w3-card w3-round">
				        <div class="w3-left"><i class="fas fa-user-tie w3-xxlarge"></i></div>
				        <div class="w3-right">
				          <h3>${numAziendeTotali}</h3>
				        </div>
				        <div class="w3-clear"></div>
				        <h4>Aziende</h4>
				      </div>
				    </div>
				    <div class="quarter">
				      <div class="w3-container w3-blue w3-card w3-round">
				        <div class="w3-left"><i class="fas fa-user-graduate w3-xxlarge"></i></div>
				        <div class="w3-right">
				          <h3>${numStudentiTotali}</h3>
				        </div>
				        <div class="w3-clear"></div>
				        <h4>Studenti</h4>
				      </div>
				    </div>
				    <div class="quarter">
				      <div class="w3-container w3-teal w3-card w3-round">
				        <div class="w3-left"><i class="fas fa-clipboard-list w3-xxlarge"></i></div>
				        <div class="w3-right">
				          <h3>${numOfferteTotali}</h3>
				        </div>
				        <div class="w3-clear"></div>
				        <h4>Offerte</h4>
				      </div>
				    </div>
				 </div>
				
				 <div class="w3-container w3-row-padding">
				    <h5 class="w3-text-gray"><b>Aziende da convenzionare</b> <span class="w3-badge w3-red">${numAziende}</span></h5>
				    <table class="w3-card  w3-round all-width w3-striped w3-hoverable w3-white">
				      <#list aziendeNonConv as azienda>
				      <tr>
				        <td class="w3-round">
				        	<h5 class="w3-padding-small">
				        		<label class="pointer" for="company-details-modal-${azienda.utente}">
				        			${azienda.nome}<span class="info">     (dettagli...)</span>
				        		</label>
				        	</h5>
				        	<form class="padding-top-bot" action="upload?azienda=${azienda.utente}&utente=${amministratore.utente}" method="post" enctype='multipart/form-data'>
							    <input type="file" name="file" />
							    <button id="send-${azienda.utente}" class="w3-button pointer fas fa-upload w3-round" type="submit" > Carica documento</button>
							</form>
							<a class="w3-button pointer w3-round far fas fa-trash-alt w3-padding w3-left" href="azienda?elimina=true&azienda=${azienda.utente}">
								Rifiuta richiesta
							</a>
				        </td>
				      </tr>
				      </#list>
				    </table><br />
				  </div>
				
				    <div class="w3-row-padding w3-container">
				      <div>
				        <h5 class="w3-text-gray"><b>Migliori e Peggiori</b></h5>
				        <table class="w3-table w3-striped w3-white w3-margin-bottom w3-card w3-round w3-padding">
				          <tr>
				            <td><i class="fa fa-user w3-text-green w3-large"></i></td>
				            <td>Miglior azienda: <b class="w3-text-gray stats">${bestAzienda.nome}</b></td>
				          </tr>
				          <tr>
				            <td><i class="fa fa-user w3-text-red w3-large"></i></td>
				            <td>Peggior azienda: <b class="w3-text-gray stats">${worstAzienda.nome}</b></td>
				          </tr>
				          <tr>
				            <td><i class="fas fa-star w3-text-yellow w3-large"></i></td>
				            <td>Tirocinio ambito: <b class="w3-text-gray stats">${bestOfferta.titolo}</b></td>
				          </tr>
				        </table>
				      </div>
				    </div>
				  
				  
				  <!--  
				  <hr>
				  <div class="w3-container">
				    <h5>General Stats</h5>
				    <p>New Visitors</p>
				    <div class="w3-grey">
				      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
				    </div>
				
				    <p>New Users</p>
				    <div class="w3-grey">
				      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
				    </div>
				
				    <p>Bounce Rate</p>
				    <div class="w3-grey">
				      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
				    </div>
				  </div>
				  <hr>
			
				  <br>
				  <div class="w3-container w3-dark-grey w3-padding-32">
				    <div class="w3-row">
				      <div class="w3-container w3-third">
				        <h5 class="w3-bottombar w3-border-green">Demographic</h5>
				        <p>Language</p>
				        <p>Country</p>
				        <p>City</p>
				      </div>
				      <div class="w3-container w3-third">
				        <h5 class="w3-bottombar w3-border-red">System</h5>
				        <p>Browser</p>
				        <p>OS</p>
				        <p>More</p>
				      </div>
				      <div class="w3-container w3-third">
				        <h5 class="w3-bottombar w3-border-orange">Target</h5>
				        <p>Users</p>
				        <p>Active</p>
				        <p>Geo</p>
				        <p>Interests</p>
				      </div>
				    </div>
				    
			    	-->
			    
			  </div>
			</div>
	
	
	
			<!-- FOOTER -->
		   <footer class="w3-container w3-white">
		       <h5>Copyright &copy; 2018 by Stefano Martella - Iari Icaro - Davide Morelli</h5>
		   </footer>
		   
		</div>
		
		<!-- Modal -->
		<#list aziendeNonConv as azienda>
		<input type="checkbox" class="modal" id="company-details-modal-${azienda.utente}" />
		<div class="modal">
		    <div class="w3-card w3-white w3-round modal-frame w3-padding">
			      <div class="w3-center"><br>
			      	<label for="company-details-modal-${azienda.utente}" class="w3-xlarge pointer close w3-button w3-padding">&times;</label>
			        <h2>Informazioni su ${azienda.nome}</h2>
			      </div>
			        <div class="w3-section">
			        	<p class="label"><b>Nome</b></p>
			        	<p class="content">${azienda.nome}</p>
			        	<p class="label"><b>Regione</b></p>
			        	<p class="content">${azienda.regione}</p>
			        	<p class="label"><b>Sede Legale</b></p>
			        	<p class="content">${azienda.indirizzoSedeLegale}</p>
			        	<p class="label"><b>Foro Competente</b></p>
			        	<p class="content">${azienda.foroCompetente}</p>
			        	<p class="label"><b>Rappresentante</b></p>
			        	<p class="content">${azienda.nomeRappresentante} ${azienda.cognomeRappresentante}</p>
			        	<p class="label"><b>Responsabile</b></p>
			        	<p class="content">${azienda.nomeResponsabile} ${azienda.cognomeResponsabile}</p>
			        	<p class="label"><b>Email</b></p>
			        	<p class="content">${azienda.email}</p>
			        	<p class="label"><b>telefono</b></p>
			        	<p class="content">${azienda.telefono}</p>
			        	<a href="download?azienda=${azienda.utente}&utente=${amministratore.utente}" class="w3-button w3-block w3-red w3-hover-deep-orange">
			        		Scarica schema convenzione
			        	</a>
			        </div>
		      </div>
			</div>			
		</#list>
		
	</body>
</html>
	
