<!-- Page Container -->
<div id="homepage-container" class="w3-content">

  <!-- The Grid -->
  <div class="w3-row-padding">

	   <!-- Left Column -->
	   <div class="w3-quarter" id="left-column">
	   </div>
	   <!-- End Left Column -->
	
	   <!-- Middle Column -->
	   <div class="w3-threequarter" id="right-column">
	       
       <!-- Pagination -->
       
       <!-- End pagination -->
	
		
		<!-- Including pagination -->
	    <#include "components/pagination.ftl.html">
	
	   </div>
	   <!-- End middle column -->
   
   </div>
   <!-- End grid -->
        
</div>