<!-- Page Container -->
<div id="homepage-container" class="w3-content">

  <!-- The Grid -->
  <div class="w3-row-padding">

	   <!-- Left Column -->
	   <div class="w3-quarter" id="left-column">
	       <!-- Profile -->
	       <#if utente??>
		       <div class="w3-card w3-round">
		           <div class="w3-container profile-container">
		           	   <h2 id="nome-utente" class="w3-center univaq-color">
			           <#if utente.tipoUtente.name() == "azienda">
			               	${utente.nome}
			           <#else>
			           	   	${utente.nome} ${utente.cognome}
			           </#if>
			           </h2>
			           <#if utente.tipoUtente.name() == "studente">
				           <p>
			                   <i class="fas fa-user-graduate fa-fw w3-margin-right w3-text-theme"></i>
			                   ${utente.corsoLaurea}
			               </p>
			           </#if>
			           <p>
			           <#if utente.tipoUtente.name() == "studente">
		                   <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
		                   ${utente.residenza}
			           <#elseif utente.tipoUtente.name() == "azienda">
		           			<i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
		                    ${utente.regione}
		               </#if>
		               </p>
		               <#if utente.tipoUtente.name() == "studente">
		               <p>
		                   <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
		                   ${utente.dataNascita}
		               </p>
		               <p>
		                   <i class="fas fa-phone fa-fw w3-margin-right w3-text-theme"></i>
		                   ${utente.telefono}
		               </p>
		               </#if>
		           </div>
		       </div>
	       </#if>
	
	       <div class="w3-card w3-round">
	           <h2 id="aziende-convenzionate">Aziende convenzionate</h2>
	           <div class="w3-container" id="aziende-container">
	               <#list aziende as azienda>
	               	   <hr>
	                   <div class="azienda">
	                    <a href="azienda?azienda=${azienda.codiceFiscale}">
	                        <h4>
	                        	<i class="far fa-building fa-fw w3-margin-right"></i> 
	                        	${azienda.nome}
	                        </h4>
	                        <p class="info">
	                        	<i class="fas fa-map-marked-alt fa-fw w3-margin-right"></i>
	                        	${azienda.regione}
	                        </p>
	                        <p class="info">
	                        	<i class="fas fa-phone fa-fw w3-margin-right"></i>
	                        	${azienda.telefono}
	                        </p>
	                    </a>
	                   </div>
	               </#list>
	           </div>
	       </div>
	   </div>
	
	   <!-- End Left Column -->
	
	   <!-- Middle Column -->
	   <div class="w3-threequarter" id="right-column">
	
	         <div id="search-bar">
	             <div class="w3-card w3-round">
	                 <div class="w3-container intership">
	                     <div class="search-form collapsible-menu">
	                      <input type="checkbox" id="menu" />
	                      <label id="label-search" for="menu">Filtra le proposte di tirocinio</label>
	                      <div class="menu-content">
	                          <br /><br />
	                          <form action="." method="post">
	                          <#list campiRicerca as campoRicerca>
	                              <label class="field-filter">${campoRicerca?capitalize}</label>
	                              <input name="${campoRicerca}" class="w3-input" />
	                          </#list>
	                          <button type="submit" class="w3-button w3-right w3-border w3-round">Cerca</button>
	                          </form>
	                      </div>
	                 	</div>
	             	</div>
	         	</div>
	     	</div>
	       
	       <div id="offerte-container" class="w3-margin-top w3-margin-bottom w3-card w3-round w3-padding">
				<h2 id="tirocini-disponibili" class=" w3-padding w3-text-grey">
					<i class="fas fa-book-reader fa-fw w3-margin-right w3-xlarge"></i>
					Tirocini disponibili
				</h2>
				<#list offerte as offerta>
					<hr />
					<div class="w3-padding w3-container">
						<hr>
						<a href="offertaTirocinio?offertaTirocinio=${offerta.idTirocinio}">
							<h5 class="bold">
								<#if offerta.titolo?length &lt; 150>
									${offerta.titolo}
								<#else>
									${offerta.titolo?substring(0,150)}...
								</#if>
							</h5>
						</a>
						<p class="luogo-tirocinio">
							<i class="fas fa-map-marker-alt fa-fw w3-margin-right"></i>
							 ${offerta.luogo}
						</p>
						<p class="data-tirocinio">
							<i class="fa fa-calendar fa-fw w3-margin-right"></i>
							Dal ${offerta.dataInizio} al ${offerta.dataFine}
						</p>
						<p  class="proposte-tirocinio">
						    <#if offerta.modalita?length &lt; 500>
						        ${offerta.modalita}
						    <#else>
						        ${offerta.modalita?substring(0,500)}...
						    </#if>
						</p>
					 </div>
				</#list>
		        
		      </div>
	       
	       <!-- Pagination -->
	       <div class="w3-center">
	           <div id="pagination" class="w3-bar w3-border">
	               <a href="#" class="w3-button w3-hover-univaq-color-background">&laquo;</a>
	               <a href="#" class="w3-button w3-hover-univaq-color-background">1</a>
	               <a href="#" class="w3-button w3-hover-univaq-color-background">2</a>
	               <a href="#" class="w3-button w3-hover-univaq-color-background">3</a>
	               <a href="#" class="w3-button w3-hover-univaq-color-background">4</a>
	               <a href="#" class="w3-button w3-hover-univaq-color-background">5</a>
	               <a href="#" class="w3-button w3-hover-univaq-color-background">&raquo;</a>
	           </div>
	       </div>
	
	   </div>
   
   </div>
   <!-- End grid -->
        
</div>