<!-- Page Container -->
<div id="homepage-container" class="w3-content">

  <!-- The Grid -->
  <div class="w3-row-padding">

	   <!-- Left Column -->
	   <div class="w3-quarter" id="left-column">
	
		   <!-- w3-animate-left -->
	       <div class="search-form collapsible-menu-2 w3-white w3-card w3-round  w3-margin-bottom">
	            <input type="checkbox" id="menu-2" checked />
	            <h2 id="label-container" class="padding-edge no-margin">
	                <label class="pointer" id="label-aziende" for="menu-2">Aziende convenzionate</label>
                </h2>
                <hr class="no-margin" />
                <div class="menu-content-2 w3-container" id="aziende-container">
	               <#list aziende as azienda>
	               	   <hr />
	                   <div class="azienda">      
	                        <p class="info w3-center w3-margin-bottom">
	                        	<a href="azienda?azienda=${azienda.codiceFiscale}">
		                        	<b class="w3-text-grey">${azienda.nome}</b>
	                        	</a>
	                        </p>
	                        <p class="info info-azienda">
	                        	<i class="far fa-map fa-fw w3-margin-right w3-margin-left"></i>
	                        	${azienda.regione}
	                        </p>
	                        <p class="info info-azienda">
	                        	<i class="far fa-envelope fa-fw w3-margin-right w3-margin-left"></i>
	                        	${azienda.email}
	                        </p>
	                        <p class="info info-azienda">
	                        	<i class="fas fa-phone fa-fw w3-margin-right w3-margin-left"></i>
	                        	${azienda.telefono}
	                        </p>
	                   </div>
	               </#list>
	           </div>
	       </div>
	   </div>
	
	   <!-- End Left Column -->
	
	   <!-- Middle Column -->
	   <div class="w3-threequarter" id="right-column">
	
	       <!-- Including searchbar -->
	       <#include "components/searchbar.ftl.html">
	       
	       <!-- w3-animate-bottom -->
	       <div id="offerte-container" class="w3-margin-top w3-margin-bottom w3-card w3-round w3-padding white-background">
				<h2 id="tirocini-disponibili" class=" w3-padding w3-text-grey">
					<i class="fas fa-list-ul fa-fw w3-margin-right w3-xlarge"></i>
					Tirocini disponibili
				</h2>
				<#list offerte as offerta>
					<hr />
					<div class="w3-padding w3-container offerta-container">
						<h5 class="bold">
							<#if offerta.titolo?length &lt; 150>
								<a href="offertaTirocinio?id_tirocinio=${offerta.idTirocinio}">
									${offerta.titolo}
								</a>
							<#else>
								<a href="offertaTirocinio?id_tirocinio=${offerta.idTirocinio}">
									${offerta.titolo?substring(0,150)}...
								</a>
							</#if>
						</h5>
						<p class="info">
							<i class="fas fa-map-marker-alt fa-fw w3-margin-right"></i>
							 ${offerta.luogo}
						</p>
						<#if offerta.dataInizio?? && offerta.dataFine??>
							<p class="info">
								<i class="far fa-calendar-alt fa-fw w3-margin-right"></i>
								Dal ${offerta.dataInizio?iso_local} al ${offerta.dataFine?iso_local}
							</p>
						</#if>
						<#if offerta.oraInizio?? && offerta.oraFine??>
				          	<p class="info">
				          		<i class="far fa-clock fa-fw w3-margin-right"></i>
				          		da ${offerta.oraInizio[0..4]} al ${offerta.oraFine[0..4]} 
				          	</p>
			          	</#if>
						<p  class="proposte-tirocinio">
						    <#if offerta.modalita?length &lt; 500>
						        ${offerta.modalita}
						    <#else>
						        ${offerta.modalita?substring(0,500)}...
						    </#if>
						</p>
						<label for="access-manager-modal" class="w3-button send-button w3-margin-top w3-right w3-round far fa-share-square">
							Invia proposta
						</label>
					 </div>
				</#list>
		        
		      </div>
	       
	       <!-- Including pagination -->
	       <#include "components/pagination.ftl.html">
	
	   </div>
   
   </div>
   <!-- End grid -->
        
</div>

