<!-- Page Container -->
<div id="homepage-container" class="w3-content">

  <!-- The Grid -->
  <div class="w3-row-padding">

	   <!-- Left Column -->
	   <div class="w3-quarter" id="left-column">
	       <!-- Profile -->
	       <#if utente??>
		       <div class="w3-card w3-round">
		           <div class="w3-container profile-container w3-margin-bottom">
		           	   
		           	   <!-- Logged user is a student -->
		           	   <#if utente.tipoUtente.name() == "studente">
		           	   		<h2 id="nome-utente" class="w3-center univaq-color">${utente.nome} ${utente.cognome}</h2>
		           	   		<p class="info padding-top-bot">
			                   <i class="fas fa-user-graduate fa-fw w3-margin-right w3-text-theme"></i>
			                   ${utente.corsoLaurea}
			                </p>
			                <p class="info padding-top-bot">
				               <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
			                   ${utente.residenza}
			                </p>
			                <p class="info padding-top-bot">
			                   <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
			                   ${utente.dataNascita?iso_local}
			                </p>
			                <p class="info padding-top-bot">
			                   <i class="fas fa-phone fa-fw w3-margin-right w3-text-theme"></i>
			                   ${utente.telefono}
			                </p>
			                <hr class="no-margin" />
			                <p class="info padding-top-bot pointer">
			                	<a href="#update-student-modal">
				                   <i class="far fa-edit fa-fw w3-margin-right w3-text-theme"></i>
				                   Modifica Profilo
			                   </a>
			                </p>
			                
					   <!-- Logged user is a company owner -->
		           	   <#elseif utente.tipoUtente.name() == "azienda">
		           	   		<h2 id="nome-utente" class="w3-center univaq-color">${utente.nome} </h2>
		           	   		<p class="info padding-top-bot">
				               <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
		                       ${utente.regione}
			                </p>
			                <p class="info padding-top-bot">
			                   <i class="fas fa-phone fa-fw w3-margin-right w3-text-theme"></i>
			                   ${utente.telefono}
			                </p>
			                <hr class="no-margin" />
			                <p class="info padding-top-bot pointer">
			                   <i class="fas fa-list-ul fa-fw w3-margin-right w3-text-theme"></i>
			                   Tirocini pubblicati
			                </p>
			                <!-- Solo aziende convenzionate possono pubblicare offerte di tirocinio -->
			                <#if utente.isConvenzionata()>
				                <p class="info padding-top-bot pointer">
				                   <i class="fas fa-plus fa-fw w3-margin-right w3-text-theme"></i>
				                   Aggiungi tirocinio
			                	</p>
			                </#if>
			                <p class="info padding-top-bot pointer">
			                   <i class="far fa-edit fa-fw w3-margin-right w3-text-theme"></i>
			                   Modifica Profilo
			                </p>
			                
			           <!-- Logged user is an admin -->
		           	   <!-- utente.tipoUtente.name() == "amministratore -->
		           	   <#else>
		           	   		<h2 id="nome-utente" class="w3-center univaq-color">${utente.nome} ${utente.cognome}</h2>
		           	   		<p class="info padding-top-bot pointer">
			                   <i class="fas fa-building fa-fw w3-margin-right w3-text-theme"></i>
			                   Aziende in attesa
			                </p>
		           	   </#if>
		               
		           </div>
		       </div>
	       </#if>
	
	       <div class="w3-card w3-round">
	           <h2 id="aziende-convenzionate">Aziende convenzionate</h2>
	           <div class="w3-container" id="aziende-container">
	               <#list aziende as azienda>
	               	   <hr>
	                   <div class="azienda">
	                    <a href="azienda?azienda=${azienda.codiceFiscale}">
	                        <h4 class="info">
	                        	<i class="far fa-building fa-fw w3-margin-right"></i> 
	                        	${azienda.nome}
	                        </h4>
	                        <p class="info">
	                        	<i class="fas fa-map-marked-alt fa-fw w3-margin-right"></i>
	                        	${azienda.regione}
	                        </p>
	                        <p class="info">
	                        	<i class="fas fa-phone fa-fw w3-margin-right"></i>
	                        	${azienda.telefono}
	                        </p>
	                    </a>
	                   </div>
	               </#list>
	           </div>
	       </div>
	   </div>
	
	   <!-- End Left Column -->
	
	   <!-- Middle Column -->
	   <div class="w3-threequarter" id="right-column">
	
	         <div id="search-bar">
	             <div class="w3-card w3-round padding-edge">
	                 <div class="w3-container intership">
	                     <div class="search-form collapsible-menu">
	                      <input type="checkbox" id="menu" />
	                      <label id="label-search" for="menu">Filtra le proposte di tirocinio</label>
	                      <div class="menu-content">
	                          <br /><br />
	                          <form action="." method="get">
		                          <#list campiRicerca as campoRicerca>
		                              <label class="field-filter">${campoRicerca?capitalize}</label>
		                              <input name="${campoRicerca}" class="w3-input" />
		                          </#list>
		                          <button type="submit" class="w3-button w3-right w3-border w3-round">Cerca</button>
	                          </form>
	                      </div>
	                 	</div>
	             	</div>
	         	</div>
	     	</div>
	       
	       <div id="offerte-container" class="w3-margin-top w3-margin-bottom w3-card w3-round w3-padding">
				<h2 id="tirocini-disponibili" class=" w3-padding w3-text-grey">
					<i class="fas fa-book-reader fa-fw w3-margin-right w3-xlarge"></i>
					Tirocini disponibili
				</h2>
				<#list offerte as offerta>
					<hr />
					<div class="w3-padding w3-container">
						<hr>
						<a href="offertaTirocinio?offertaTirocinio=${offerta.idTirocinio}">
							<h5 class="bold">
								<#if offerta.titolo?length &lt; 150>
									${offerta.titolo}
								<#else>
									${offerta.titolo?substring(0,150)}...
								</#if>
							</h5>
						</a>
						<p class="info">
							<i class="fas fa-map-marker-alt fa-fw w3-margin-right"></i>
							 ${offerta.luogo}
						</p>
						<p class="info">
							<i class="far fa-calendar-alt fa-fw w3-margin-right"></i>
							Dal ${offerta.dataInizio?iso_local} al ${offerta.dataFine?iso_local}
						</p>
						<p  class="proposte-tirocinio">
						    <#if offerta.modalita?length &lt; 500>
						        ${offerta.modalita}
						    <#else>
						        ${offerta.modalita?substring(0,500)}...
						    </#if>
						</p>
					 </div>
				</#list>
		        
		      </div>
	       
	       <!-- Pagination -->
	       <div class="w3-center">
	           <div id="pagination" class="w3-bar w3-border">
	           		
	           		<!-- back button only present if at least 2 pages are present -->
	           		<#if (paginaCorrente + 1) gt 1>
	           			<a href="?pagina=${(paginaCorrente - 1) + queryString}" class="padding-edge w3-a w3-hover-univaq-color-background">
	           				&laquo;
	           			</a>
	           		</#if>
	           		
	           		<!-- Limit view if number of pages is greater than 5 -->
	           		<#if numeroPagine gt 5>	           			
	           				<a href="?pagina=0${queryString}" 
	           				   class="w3-button 
	           				   <#if (paginaCorrente + 1) == 1> 
	           				   		univaq-color-background 
	           				   <#else>
	           				   		w3-hover-univaq-color-background
	           				   </#if>">
	           					1
	           				</a>
	           				<#if (paginaCorrente + 1) gt 3>...</#if>
	           				
	           				<#if paginaCorrente - 1 gt 0>
	           					<a href="?pagina=${paginaCorrente - 1 + queryString}" class="w3-button w3-hover-univaq-color-background">
									${paginaCorrente}
								</a>
	           				</#if>
	           				
	           				<#if (paginaCorrente) != 0 && paginaCorrente != numeroPagine - 1>
	           					<a href="?pagina=${paginaCorrente + queryString}" class="w3-button univaq-color-background">
			           				${paginaCorrente + 1}
			           			</a>
	           				</#if>
	           				
	           				<#if paginaCorrente + 1 lt numeroPagine - 1>
	           					<a href="?pagina=${paginaCorrente + 1 + queryString}" class="w3-button w3-hover-univaq-color-background">
									${paginaCorrente + 2}
								</a>
	           				</#if>
	           				
	           				<#if numeroPagine gt (paginaCorrente + 3)>...</#if>
	           				
	           				<a href="?pagina=${(numeroPagine - 1) + queryString}" 
	           				   class="w3-button 
	           				   <#if (paginaCorrente + 1) == numeroPagine > 
	           				   		univaq-color-background 
	           				   <#else>
	           				   		w3-hover-univaq-color-background
	           				   </#if>">
	           					${numeroPagine}
	           				</a>
	           			
	           		<!-- Show all pages number if number of pages is less than 5 -->
	           		<#else>
	           	
	           			<#if numeroPagine gt 0>
	           			<#assign pagine = (numeroPagine - 1)>
	           			<#else>
	           			<#assign pagine = 0>
	           			</#if>
						<#list 0..pagine as pagina>
							<#if paginaCorrente == pagina>
								<a href="?pagina=${pagina + queryString}"
							       class="w3-button univaq-color-background">
									${pagina + 1}
								</a>
							<#else>
								<a href="?pagina=${pagina + queryString}"
							       class="w3-button w3-hover-univaq-color-background">
									${pagina + 1}
								</a>
							</#if>
						</#list>
					
					</#if>
					
					<!-- forward button only present if current page is less then number of pages -->
					<#if (paginaCorrente + 1) lt numeroPagine>
	           			<a href="?pagina=${(paginaCorrente + 1) + queryString}" class="padding-edge w3-a w3-hover-univaq-color-background">
	           				&raquo;
	           			</a>
	           		</#if>
	           		
	           </div>
	       </div>
	       <!-- End pagination -->
	
	   </div>
   
   </div>
   <!-- End grid -->
        
</div>

<!-- Modals -->
<!-- Update student profile modal -->
      <#if utente?? && utente.tipoUtente.name() == "studente">
	      <div id="update-student-modal" class="overlay">
		    <div class="w3-card w3-white w3-round popup w3-padding">
		
		      <div class="w3-center"><br>
		      	<a href="#" class="w3-button w3-xlarge w3-display-topright">&times;</a>
		        <h2>Modifica informazioni</h2>
		      </div>
			      <form class="w3-container" action="./studente" method="post">
			        <div class="w3-section">
			          <!-- The user CF is hidden, it is used to retrieve the current user from database -->
			          <!-- <input type="hidden" name="utente" value="${utente.utente}" />  -->
			          <label for="nome"><b>Nome</b></label>
			          <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.nome}" placeholder="Inserisci il tuo nome" name="nome" required>
			          <label for="cognome"><b>Cognome</b></label>
			          <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.cognome}" placeholder="Inserisci il tuo cognome" name="cognome" required>
			          <label for="dataNascita"><b>Data di nascita</b></label>
			          <!-- Use type="date" -->
			          <input type="date" class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.dataNascita?iso_local}" placeholder="Inserisci la tua data di nascita" name="data_nascita" required>
			          <label for="luogoNascita"><b>Luogo di Nascita</b></label>
					  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.luogoNascita}" placeholder="Inserisci il tuo luogo di nascita" name="luogo_nascita" required>
					  <label for="provinciaNascita"><b>Provincia di Nascita</b></label>
					  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.provinciaNascita}" placeholder="Inserisci la tua provincia di nascita" name="provincia_nascita" required>
					  <label for="residenza"><b>Residenza</b></label>
					  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.residenza}" placeholder="Inserisci la tua residenza" name="residenza" required>
					  <label for="provinciaResidenza"><b>Provincia residenza</b></label>
					  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.provinciaResidenza}" placeholder="Inserisci la provincia della tua residenza" name="provincia_residenza" required>
					  <label for="tipoLaurea"><b>Tipo di laurea</b></label>
					  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.tipoLaurea}" placeholder="Inserisci il tipo della tua laurea(Triennale/Magistrale)" name="tipo_laurea" required>
					  <label for="corsoLaurea"><b>Corso di laurea</b></label>
					  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.corsoLaurea}" placeholder="Inserisci il tuo corso di laurea" name="corso_laurea" required>
			          <label for="email"><b>Email</b></label>
		         	  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.email}" placeholder="Inserisci la tua email" name="email" required>
		         	  <label for="username"><b>Username</b></label>
		         	  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.username}" placeholder="Inserisci il tuo username" name="username" required>
			          <label for="telefono"><b>Telefono</b></label>
		          	  <input class="w3-input w3-border-bottom w3-margin-bottom" type="text" value="${utente.telefono}" placeholder="Inserisci il tuo telefono" name="telefono" required>
			          <label for="password"><b>Password</b></label>
		          	  <input class="w3-input w3-border-bottom w3-margin-bottom" type="password" value="${utente.password}" placeholder="Inserisci la password" name="password" required>
		          	  <button class="w3-button w3-block w3-section w3-padding univaq-color-background" type="submit" name="aggiorna" value="aggiorna">Modifica</button>
			        </div>
			      </form>
		      </div>
	      </div>
      </#if>