<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">

<head>
    <title>Intership Tour</title>
    <link rel="icon" href="Univaq.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/w3.css">
    <link href="style/style.css" rel="stylesheet">
    <script src="js/index.js"></script>
    
</head>

<body class="w3-theme-l5">
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar univaq-color w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-large univaq-color"
                onclick="openNav()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="w3-bar-item w3-button w3-hover-red w3-padding-large univaq-color">
                <i class="fa fa-home w3-margin-right"></i>IntershipTutor</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-red w3-right w3-hide-small w3-padding-large " title="Account Settings">
                <i class="fa fa-user"></i>
                Accedi
            </a>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block univaq-color w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-hover-red w3-padding-large">Link 1</a><!--NON SO PERCHE SE TOLGO QUESTO NON APPARE ACCEDI-->
        <a href="#" class="w3-bar-item w3-button w3-hover-red w3-padding-large">Accedi</a>
        <a href="./aziende-smartphone.html" class="w3-bar-item w3-button w3-hover-red w3-padding-large">Aziende convenzionate</a>
        
    </div>

    <!-- Page Container -->
    <div class="w3-container w3-content page-container">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3 profilo">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container profile-container">
                        <h4 class="w3-center">Stefano Martella</h4>
                        <hr>
                        <p>
                            <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Informatica</p>
                        <p>
                            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>L'Aquila</p>
                        <p>
                            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>14 Giugno 1996</p>
                    </div>
                </div>

                <div class="w3-card w3-round w3-white">
                    <p class="aziende-convenzionate">Aziende convenzionate</p>
                    <div class="w3-container margin-bottom aziende">
                        <div class="w3-center">
                            <input type="text" name="search" placeholder="Cerca...">
                        </div>
                        <#list aziende as azienda>
	                        <hr>
	                        <div class="azienda">
	                            <h4 class="w3-center">${azienda.nome}</h4>
	                            <p class="info">${azienda.regione}</p>
	                            <p class="info">${azienda.nomeRappresentante}</p>
	                        </div>
	                    </#list>
			         </div>
                </div>
            </div>

            <!-- End Left Column -->
            
	        <!-- Middle Column -->
            <div class="w3-col m7 middle-column">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding intership">
                                <div class="search-form"><button class="collapsible">Filtra le proposte di tirocinio</button>
                                    <div class="content">
                                      <p><form action="/action_page.php">
                                        Azienda:<br />
                                        <input /><br />
                                        Sede:<br />
                                        <input /><br />
                                        Obiettivi:<br />
                                        <input /><br />
                                        Modalità:<br />
                                        <input /><br />
                                        Durata tirocinio:<br />
                                        <input /><br />
                                        <button>Cerca</button>  
                                        <button>Annulla</button>
                                      </form>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <#list offerte as offerta>
	                <div class="w3-row-padding">
	                    <div class="w3-col m12">
	                        <div class="w3-card w3-round w3-white">
	                            <div class="w3-container w3-padding intership">
	                                <h6 class="w3-opacity">${offerta.obiettivi}</h6>
	                                <p  class="w3-border w3-padding proposte-tirocinio">
	                                    ${offerta.obiettivi}
	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
                </#list>
                
                <div class="w3-center">
                    <div class="w3-bar w3-border pagination">
                        <a href="#" class="w3-button w3-hover-univaq-color">&laquo;</a>
                        <a href="#" class="w3-button w3-hover-univaq-color">1</a>
                        <a href="#" class="w3-button w3-hover-univaq-color">2</a>
                        <a href="#" class="w3-button w3-hover-univaq-color">3</a>
                        <a href="#" class="w3-button w3-hover-univaq-color">4</a>
                        <a href="#" class="w3-button w3-hover-univaq-color">5</a>
                        <a href="#" class="w3-button w3-hover-univaq-color">&raquo;</a>
                    </div>
                </div>

                <!-- End Middle Column -->
            </div>

            <!-- Right Column -->


            <!-- End Grid -->
        </div>

        <!-- Pagination -->

        <!-- End Page Container -->
        </div>
    </div>
    <br />

    <!-- Footer -->
    <footer class="w3-container univaq-color w3-padding-16">
        <h5>Footer</h5>
    </footer>
    <!-- Scripts -->
    <script src="js/jquery-3.3.1.min.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

</body>

</html>
