/*titolo e logo*/
.logo{
    float:left;
}

.header{
    float:left;
    margin-left:25px;
    font-size: 30px
}

.titolo{
    height: 100px;
    /*width:50%;*/
    margin-bottom:20px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.header span{
    font-size: 16px;
    margin-top:0px;
    margin-bottom:0px;
}


* {
    font-family: "Open Sans", sans-serif
}

a{
    text-decoration: none
}


/* Useful in different parts */
.no-padding{
    padding: 0 !important;
}

.univaq-color-background{
    background-color: #822627;
    color: #ffffff
}

.univaq-color{
    background-color: #ffffff;
    color: #822627
}
/* End useful in different parts */

/* Column management */
#left-column{
    width: 20%
}

#middle-column{
    width: 80%;
}

.page-container{
    margin: 25px auto auto auto !important;
}
/* End column management */

.titolo-aziende{
    color:#822627;
    font-size: 20px;
}

.profile-container{
    margin-bottom: 20px;
    /*User not logged*/
    display: none;
}

.aziende{
    max-height: 600px;
    overflow-y: scroll
}

.azienda:hover{
    cursor: pointer;
    /* color: #F90200; */
    color: #822627;
}

.azienda:first-child{
    border-top: 1px solid #eeeeee
}

.aziende::-webkit-scrollbar {
    width: 4px;
}

 
.aziende::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

.aziende-convenzionate{
    padding-left: 40px;
    font-size: 23px;
    margin: 0 !important;
    padding: 20px !important;
    font-size: 100% !important; 
    font-weight: 700;
    text-align: center;
    color: #822627;
}

.azienda:last-child{
    padding-bottom: 10px;
}

.w3-container.margin-bottom .w3-center{
    font-size: 100%;
}

.info{
    text-align: center;
    font-size: 90%;
    margin: 5px 0
}

.w3-opacity{
    font-size: 18px;
    font-weight: 500;
    transition: .2s all ease-in;
    opacity: .8;
}

.w3-opacity:hover{
    /* color: F90200; */
    color: #822627;
    cursor: pointer;
}

.w3-border{
    border-color: #eeeeee !important;
}

.proposte-tirocinio{
    font-size: 13px;
    line-height: 2;
}

.pagination{
    margin-top: 20px
}

.w3-container.intership{
    margin-bottom: 20px
}

form .w3-button{
    outline-color: #822627;
    transition: .2s all ease-in;
    border-color: #dddeee !important;
    margin-bottom: 15px
}

.w3-button:hover{
    color: #ffffff !important;
    background-color: #822627 !important
}

input.w3-input{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    outline: none;
    border-bottom: 1px solid;
    border-color: #dddeee;
    transition: all .2s ease-in-out
}

input.w3-input:focus{
    border-color: #822627
}

/* Collapsible research */

#search-bar{
    padding: 0 16px;
}

.collapsible-menu{
    padding: 10px 0;
}

.collapsible-menu #label-search{
    font-size: 17px;
    font-weight: 500;
    user-select: none;
}

.collapsible-menu .field-filter{
    font-size: 14px
}

input#menu-1,
input#menu {
    display: none;
}

.menu-content-1,
.menu-content {
    max-height: 0;
    overflow: hidden;
}

.menu-content-1{
    display: block;
}

input:checked ~ .menu-content-1,
input:checked ~ .menu-content {
    max-height: 100%;
}

#label-search{
    cursor: pointer;
}

#label-search:after {
    font-family: FontAwesome;
    content: '\f067'; /* Unicode character for "plus" sign (+) */
    font-size: 16px;
    float: right;
    color: #822627;
}

input:checked ~ #label-search:after {
    font-family: FontAwesome;
    content: "\f068"; /* Unicode character for "minus" sign (-) */
    color: #822627;
}

.fa.fa-bars.w3-right{
    padding-top: 4px
}

/* End collapsible research */

/* Computer */
@media (min-device-width: 500px){
    html,
    .w3-bar{
        min-width: 500px !important;
    }
}

/* Tablet and smartphone */
@media  (max-width: 701px){

    .menu-content-1 ul {
        list-style-type: none;
        display: grid;
    }

    .menu-content-1 ul li{
        font-size: 16px;
        padding: 8px 0
    }

    .menu-content-1 ul li a{
        padding: 0 !important
    }

    #left-column,
    .aziende{
        display: none;
    }

    .margin-bottom{
        margin-bottom: 30px
    }

    #search-bar{
        padding: 0;
    }

    .page-container{
        margin-top: 20px !important
    }

    #left-column,
    #middle-column{
        width: 100%;
    }

    .w3-row-padding,
    .w3-col.m12{
        padding-left: 0;
        padding-right: 0;
    }
    
}

