html, body{
    height: 100%;
}

h1{
    margin-top: 40px;
    font-weight: 500;
}

p{
    margin: 15px 0
}

#page-container{
    display: flex;
    min-height: 90%;
    height: auto !important;
    align-items: center
}

.azienda-info{
    min-width: 33.3%;
    float: left;
}

.section{
    font-size: 23px;
}

.fas{
    font-size: 25px;
    color: #822627;
    margin-bottom: 40px
}

.persone,
.contatti{
    margin: 0;
    font-style: italic;
    font-size: 14px
}

.info{
    font-size: 18px;
    color: #822627;
    font-weight: 700;
    margin-bottom: 40px
}