#nome-azienda{
	color:#822627;
	line-height:7px;
	font-weight: 500;
}

#tirocini-disponibili{
	margin: 0;
}

.azienda-info{
    min-width: 33.3%;
}

.section{
    font-size: 23px;
}

.descrizione-tirocinio{
	line-height: 2;
	font-size: 14px
}

.persone,
.contatti{
    margin: 0;
    font-style: italic;
    font-size: 14px;
    color: white;
}


/* Tablet and smartphone */
@media  (max-width: 701px){
	.azienda-info{
	    min-width: 100%;
	    background-color: #ffffff
	}
}