html, body{
    height: 100%;
}

h1{
    margin-top: 40px;
    font-weight: 500;
}

p{
    margin: 15px 0
}

.w3-teal{
	color:white !important;
	background-color: #822627 !important;
}

.w3-text-teal{
	color:#822627 !important;
}

.w3-light-grey{
	background-color:#fee8e8 !important
}

table{
	border:1px solid #822627;
	border-collapse: collapse;
	border-radius: 25px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

td{
	padding: 7px;
}

td:first-child{
	
 background-color:#822627;
}
#page-container{
    display: flex;
    min-height: 90%;
    height: auto !important;
    align-items: center;
    justify-content: center;
}

.azienda-info{
    min-width: 33.3%;
}

.section{
    font-size: 23px;
}

.fas{
    font-size: 25px;
    color: #822627;
    margin-bottom: 40px
}

.persone,
.contatti{
    margin: 0;
    font-style: italic;
    font-size: 14px;
    color: white;
}

.info{
    font-size: 18px;
    color: #822627;
    font-weight: 700;
    margin-bottom: 40px
}


/* Tablet and smartphone */
@media  (max-width: 701px){
	.azienda-info{
	    min-width: 100%;
	    background-color: #ffffff
	}
	#page-container{
	    display: inline;
	    min-height: 100%;
	}
}