#nome-azienda{
	color:#822627;
	line-height:7px;
}

#tirocini-disponibili{
	margin-bottom: 0;
}

.descrizione-tirocinio{
	line-height: 2;
	font-size: 14px
}


/* Tablet and smartphone */
@media  (max-width: 701px){
	.azienda-info{
	    min-width: 100%;
	    background-color: #ffffff
	}
	
	.w3-quarter{
		margin-bottom: 20px
	}
}