#nome-azienda{
	color:#822627;
	line-height:7px;
	font-weight: 500;
}

#titolo-tirocinio{
	margin-bottom: 0;
}

.descrizione-tirocinio{
	line-height: 2;
	font-size: 14px
}

/* Tablet and smartphone */
@media  (max-width: 701px){
	.azienda-info{
	    min-width: 100%;
	    background-color: #ffffff
	}
}