html,
body {
	margin: 0;
	height: 100%
}

a{
	text-decoration: none
}

h5{
	margin: 8px 0 !important;
}

footer{
	border-top: 1px solid #eeeeee;
}

footer h5{
	font-size: 12px;
}

#main-content{
	background: #dfdfdf url(../img/cream_pixels.png);
}

#navbar-pc,
#navbar-mobile{
	background-color: #3e5c8e
}

.all-width{
	width: 100%;
}

.stats{
	font-size: 13px
}

.w3-bar-item.w3-button{
	border-bottom: 1px solid #eeeeee !important;
}

.w3-xxlarge{
	padding-top: 10px
}

.pointer{
	cursor: pointer;
}

.info{
	font-size: 12px
}

.label{
	margin-bottom: 0 !important
}

.content{
	margin-top: 2px !important
}

#navbar-pc{
	border-bottom: 1px solid #eeeeee;
	position: fixed; 
	z-index: 30;
	height: 60px;
}

#sidebar{
	border-right: 1px solid #eeeeee
}

#sidebar,
#page-content{
	margin-top: 60px;
	height: 100%
}

/* Collapsible */
input#menu-1,
input#menu {
    display: none;
}

.menu-content-1,
.menu-content {
    max-height: 0;
    overflow: hidden;
}

.menu-content-1{
    display: block;
}

input:checked ~ .menu-content-1,
input:checked ~ .menu-content {
    max-height: 100%;
}

#label-search{
    cursor: pointer;
}

#label-search:after {
    font-family: FontAwesome;
    content: '\f067'; /* Unicode character for "plus" sign (+) */
    font-size: 16px;
    float: right;
    color: #822627;
}

input:checked ~ #label-search:after {
    font-family: FontAwesome;
    content: "\f068"; /* Unicode character for "minus" sign (-) */
    color: #822627;
}

/* Modals without js */
/* VEDERE ANCHE NEL CSS PER PC E PER MOBILE */

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.modal,
.modal * {
    box-sizing: border-box;
    -moz-box-size: border-box;
    transition: all .2s ease-in-out
}

.modal:checked+.modal {
    display: block;
    -webkit-animation: fadeIn .2s;
    animation: fadeIn .2s;
    pointer-events: all
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    padding: 15px;
    overflow-y: scroll;
    display: none;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
}

.modal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 600;
    cursor: pointer;
}

.modal::-webkit-scrollbar { 
    display: none; 
}

.modal-frame{
	position: relative
}

.close{
	position: absolute;
	top: 0;
	right: 0;
	border-top-right-radius: 4px
}
/* End modals without js */

/* Computer */
@media (min-device-width: 500px){
    html{
        min-width: 500px !important;
    }
    
    #stats-container{
		display:flex;
	}
	
	.modal-frame{
		width: 50%;
		margin: 30px auto
	}
	
	#main-content{
		height: 100%;
	}
	
	.quarter{
		width: 25%;
		margin-left: .5%;
		margin-right: .5% 
	}
	
	.padding-top-bot{
		padding: 8px
	}
	
}


/* Tablet and smartphone */
@media  (max-width: 701px){
	
	*{
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
	
	.modal-frame{
		margin: 30px auto
	}
	
	#stats-container{
		display: block;
	}
	
	.quarter{
		width: 100%;
		margin: 2% 0
	}
	
	#page-content{
		margin-top: 0
	}
	
	.menu-content-1 ul {
        list-style-type: none;
        display: grid;
    }

    .menu-content-1 ul li{
        font-size: 16px;
        padding: 8px 0
    }

    .menu-content-1 ul li a{
        padding: 0 !important
    }
    
    .overlay{
    	padding: 0 8px
    }
}