#homepage-container{
	padding: 0
}

.titolo-aziende{
    color:#822627;
    font-size: 20px;
}

.profile-container{
    margin-bottom: 8px;
    /* User logged */
    display: none;
}

.aziende{
    max-height: 500px;
    overflow-y: scroll
}

.azienda:hover{
    cursor: pointer;
    /* color: #F90200; */
    color: #822627;
}

.azienda:first-child{
    border-top: 1px solid #eeeeee
}

.aziende::-webkit-scrollbar {
    width: 4px;
}

 
.aziende::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

#aziende-convenzionate{
    padding-left: 40px;
    margin: 0 !important;
    padding: 20px 20px 0 20px;
    font-size: 120% !important; 
    font-weight: 700;
    text-align: center;
    color: #822627;
}

.azienda:last-child{
    padding-bottom: 10px;
}

.w3-container.margin-bottom .w3-center{
    font-size: 100%;
}

.info{
    text-align: center;
    font-size: 90%;
    margin: 5px 0
}

.w3-opacity{
    font-size: 18px;
    font-weight: 500;
    transition: .2s all ease-in;
    opacity: .8;
}

.w3-opacity:hover{
    /* color: F90200; */
    color: #822627;
    cursor: pointer;
}

.proposte-tirocinio{
    font-size: 14px;
    line-height: 2
}

.pagination{
    margin-top: 20px
}

form .w3-button{
    outline-color: #822627;
    transition: .2s all ease-in;
    border-color: #dddeee !important;
    margin-bottom: 15px
}

/* Collapsible research */
#search-bar{
    padding: 0 16px;
}

.collapsible-menu{
    padding: 10px 0;
}

#label-search{
    font-size: 17px;
    font-weight: 500;
    user-select: none;
}

.collapsible-menu .field-filter{
    font-size: 14px
}
/* End collapsible research */



@media (min-device-width: 500px){
	.intership{
		margin-bottom: 0;
	}
}

/* Tablet and smartphone */
@media  (max-width: 701px){

    #left-column,
    .aziende{
        display: none;
    }
    
    .offerte{
    	padding: 0 !important
    }
    
    .intership{
		margin-bottom: 20px;
	}

    #search-bar{
        padding: 0;
    }
    
    #homepage-container{
    	padding: 0 16px
    }

    #left-column,
    #right-column{
        width: 100%;
    }

    .w3-row-padding,
    .w3-col.m12{
        padding-left: 0;
        padding-right: 0;
    }
    
}

