#homepage-container{
	padding: 0
}

#offerte-container hr:first-child{
	display: none
}

#offerte-container hr{
	margin-bottom: 0
}

.titolo-aziende{
    color:#822627;
    font-size: 20px;
}

.azienda{
	padding: 5px 0
}

.azienda:first-child{
    border-top: 1px solid #eeeeee
}

.azienda:last-child{
    padding-bottom: 10px;
}

.azienda h4:hover{
    cursor: pointer;
    /* color: #F90200; */
    color: #822627;
}

#aziende-container{
    max-height: 500px;
    overflow-y: scroll;
    font-size: 100%;
}

#aziende-container::-webkit-scrollbar {
    width: 4px;
}

#aziende-container hr{
	margin: 10px
}

 
#aziende-container::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

#aziende-container hr:first-child{
	visibility: hidden;
	margin: 10px 0;
}

#nome-utente,
#aziende-convenzionate{
    margin: 0 !important;
    padding: 16px;
    font-size: 110% !important; 
    font-weight: 500;
    text-align: center;
    color: #822627;
    border-bottom: 1px solid #eeeeee;
}

.info{
    font-size: 14px;
    margin: 8px 0
}

.data-tirocinio,
.luogo-tirocinio{
	font-size: 13px
}

.proposte-tirocinio{
    font-size: 14px;
    line-height: 2
}

/* Collapsible research */

.collapsible-menu{
    padding: 10px 0;
}

#label-search{
    font-size: 17px;
    font-weight: 500;
    user-select: none;
}

.collapsible-menu .field-filter{
    font-size: 14px
}
/* End collapsible research */

/* Homepage AZIENDA */
.options button{
	background-color: #ffffff;
	border: none;
	outline-color: #ffffff;
}
/* End homepage AZIENDA */

@media (min-device-width: 500px){
	.intership{
		margin-bottom: 0;
	}
	
	.offerte{
		margin: 20px 0
	}
}

/* Tablet and smartphone */
@media  (max-width: 701px){

	#aziende-convenzionate-container{
		display: none;
	}
    
    .offerte{
    	padding: 0 !important
    }

    #search-bar{
        padding: 0;
    }
    
    #homepage-container{
    	padding: 0 8px
    }

    #left-column,
    #right-column{
        width: 100%;
    }

    .w3-row-padding{
        padding-left: 0;
        padding-right: 0;
    }
    
}

