#homepage-container{
	padding: 0
}


#offerte-container hr{
	margin-bottom: 0
}

.offerta-container:last-child > label{
	margin-bottom: 10px !important
}

.titolo-aziende{
    color:#822627;
    font-size: 20px;
}

.azienda{
	padding: 5px 0;
}

.azienda:first-child{
    border-top: 1px solid #eeeeee
}

.azienda:last-child{
    padding-bottom: 10px;
}

.info-azienda{
	margin-bottom: 3px !important;
	font-size: 13px !important
}

#aziende-container::-webkit-scrollbar {
    width: 4px;
}

#aziende-container hr{
	margin: 10px
}

 
#aziende-container::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

#aziende-container hr:first-child{
	visibility: hidden;
	margin: 5px 0;
}

#tirocinio-richiesto,
#nome-utente,
#aziende-convenzionate{
    margin: 0 !important;
    padding: 16px;
    font-size: 110% !important; 
    font-weight: 500;
    text-align: center;
    color: #822627;
    border-bottom: 1px solid #eeeeee;
}

input[type="file"]{
	font-size: 75%;
	width: 80%
}

.info{
    font-size: 14px;
    margin: 8px 0
}

.data-tirocinio,
.luogo-tirocinio{
	font-size: 13px
}

.proposte-tirocinio{
    font-size: 14px;
    line-height: 2
}

.send-button{
	margin: 10px 0 0 0 !important;
}

/* End homepage STUDENTE */

/* Homepage AZIENDA */
.options button{
	background-color: #ffffff;
	border: none;
	outline-color: #ffffff;
}
	
/* Candidates list */
.acc-kontainer .acc-body .fa,
.acc-kontainer .acc-body .fas,
.acc-kontainer .acc-body .far{
	color: rgba(0, 0, 0, 0);
}

.acc-kontainer .acc-body {
  width: 98%;
  width: calc(100% - 20px);
  height: 0;
  color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  /*transition: 0.5s;*/
}

.acc-kontainer label {
  box-sizing: border-box;
}

.acc-kontainer input{
  display: none;
}

.acc-kontainer input:checked ~ .acc-body .fa,
.acc-kontainer input:checked ~ .acc-body .fas,
.acc-kontainer input:checked ~ .acc-body .far{
	height: auto;
  	color: #822627;
}
.acc-kontainer input:checked ~ .acc-body {
  height: auto;
  color: #000000;
  /*transition: 0.5s;*/
}
/* End candidates list */
	
/* End homepage AZIENDA */

@media (min-device-width: 500px){
	.intership{
		margin-bottom: 0;
	}
	
	.offerte{
		margin: 20px 0
	}
}

/* Tablet and smartphone */
@media  (max-width: 701px){

	#aziende-convenzionate-container{
		display: none;
	}
    
    .offerte{
    	padding: 0 !important
    }

    #search-bar{
        padding: 0;
    }
    
    #homepage-container{
    	padding: 0 8px
    }

    #left-column,
    #right-column{
        width: 100%;
    }

    .w3-row-padding{
        padding-left: 0;
        padding-right: 0;
    }
    
    .info-azienda{
		font-size: 15px !important
	}
    
}

