h3{
	font-size: 20px;
	font-style: italic
}

span{
	/*font-weight: 700*/
}

button{
	background-color: #ffffff;
	border: none;
	outline-color: #ffffff;
	transition: .2s all ease
}

button:hover{
	background-color: #822627;
	color: #ffffff
}

.dettagli{
	line-height: 2;
	font-size: 14px;
}

input[type="file"]{
	width: 100%;
	padding: 6px 0
}

input[type="submit"]{
	margin: 0
}
