<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <!-- Context parameters -->
	<context-param>
		<param-name>view.outline_template</param-name>
		<param-value>container.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Stefano Martella</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>  
        <param-name>view.error_template</param-name>
        <param-value>errore.ftl.html</param-value>
    </context-param>
  <!-- End context parameters -->
  
  <!-- Servlets -->
	<servlet>
		<servlet-name>HomePage</servlet-name>
		<servlet-class>controller.HomePage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestoreAzienda</servlet-name>
		<servlet-class>controller.GestoreAzienda</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestoreOffertaTirocinio</servlet-name>
		<servlet-class>controller.GestoreOffertaTirocinio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestoreTirocinioStudente</servlet-name>
		<servlet-class>controller.GestoreTirocinioStudente</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestoreStudente</servlet-name>
		<servlet-class>controller.GestoreStudente</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestoreAzienda</servlet-name>
		<url-pattern>/azienda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestoreOffertaTirocinio</servlet-name>
		<url-pattern>/offertaTirocinio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestoreTirocinioStudente</servlet-name>
		<url-pattern>/tirocinioStudente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestoreStudente</servlet-name>
		<url-pattern>/studente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
    <!-- End servlets -->
 
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/intershiptutor_database</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<!-- Session config -->
	<session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
	<!-- End session config -->
	
	<welcome-file-list>
		<welcome-file>homepage</welcome-file>
	</welcome-file-list>
    
</web-app>