<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  
  <!-- Servlets -->
  <servlet>
	<servlet-name>HomePage</servlet-name>
    <servlet-class>servlet.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>DettaglioAzienda</servlet-name>
    <servlet-class>servlet.DettaglioAzienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettaglioAzienda</servlet-name>
    <url-pattern>/azienda</url-pattern>
  </servlet-mapping>
  <!-- End servlets -->
  
  <display-name>Homepage</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/intershiptutor_database</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
   </resource-ref>
   <welcome-file-list>
	<welcome-file>templates/container.ftl.html</welcome-file>
   </welcome-file-list>
    
</web-app>