<!DOCTYPE html>
<html lang="it">
    <head>
        <title>IntershipTutor</title>
        <link href="style/w3/w3.css" rel="stylesheet" />
	    <link href="style/container.css" rel="stylesheet" />
	    <link href="style/errore.css" rel="stylesheet" />
    </head>
    <body>
        <div class="w3-center w3-padding">
        	<img class="w3-margin-top" alt="Univaq" src="img/univaq_logo.png" height="130" />
	        <h1>Errore 500</h1>
	        <p>Il server ha avuto un problema con la gestione di questa richiesta</p>
	        <div><a id="back-home" href=".">Ritorna alla homepage</a></div>
        </div>
    </body>
</html>