<!-- w3-animate-right -->
<div id="search-bar">
    <div class="w3-card w3-round padding-edge white-background">
        <div class="w3-container no-padding intership">
            <div class="search-form collapsible-menu">
                <input type="checkbox" id="menu" />
                <label id="label-search" for="menu">${searchbartitle}</label>
                <div class="menu-content">
                    <br /><br />
                    <form action="${servlet}" method="get">
	                     <#list campiRicerca as campoRicerca>
	                         <label class="field-filter">${campoRicerca?capitalize?replace("_", " ")}</label>
	                         <input name="${campoRicerca}" class="w3-input input-filter" autocomplete="off" 
	                          		placeholder="${campoRicerca.getPlaceholder()}"
	                           		type="${campoRicerca.getInputType()}" />
	                     </#list>
	                     <button type="submit" class="w3-button w3-right w3-border w3-round">Cerca</button>
                    </form>
                </div>
           	</div>
       	</div>
   	</div>
</div>